BASE_URL=https://dev-myapps.intra.cmk.co.id
LOGIN_URL=https://dev-myapps.intra.cmk.co.id/login
APP_URL=https://dev-newmyapps.intra.cmk.co.id/TandaTerima

REQUESTER_USERNAME=
REQUESTER_PASSWORD=
APPROVER1_USERNAME=
APPROVER1_PASSWORD=
APPROVER2_USERNAME=
APPROVER2_PASSWORD=
APPROVER3_USERNAME=
APPROVER3_PASSWORD=
APPROVER4_USERNAME=
APPROVER4_PASSWORD=
APPROVER5_USERNAME=
APPROVER5_PASSWORD=

JIRA_BASE_URL=https://centralmegakencana-teamnew.atlassian.net
JIRA_EMAIL=
JIRA_API_TOKEN=
JIRA_PROJECT_KEY=P26
JIRA_EPIC_KEY=P26-283
